body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.content-info {
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    gap: 30px ;
    padding-bottom: 175px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7EB;
}

.message {
    font-weight: lighter;
    font-size: 24px;
    padding-top: 120px;
    padding-left: 400px;
    padding-right: 400px;
}

.author {
    text-align-last: right;
    padding-right: 420px;
    padding-bottom: 80px;
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-1, .image-2, .image-3, .image-4 {
    border-radius: 25px;
    border: 5px solid #3882f6;
    padding: 0px;
    height: 175px;
}

.left {
    color: white;
}

.left button {

    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background: #3882f6;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-family: 'Roboto', arial;
    text-decoration: none;
    font-weight: bold;
}

.left h1 {
    font-weight: bolder;
}

.logo {
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 8px;
  }

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}